<header>
    <div class="header-menu">
        <div class="left-side">
            <a href="/">Home</a>
            <a href="/now-playing">Now Playing</a>
            <a href="/my-theater">Find My Theater</a>
            <a href="/about">About</a>
        </div>
        <div class="right-side">
            <div class="brand">
                Zenith Theaters
            </div>
        </div>
    </div>
</header>